$primary_20: #4d0001;
$primary_30: #600c20;
$primary_40: #a61518;
$primary_60: #ed0000;
$neutral_100: #ffffff;
$neutral_80: #cccccc;
$neutral_0: #000000;
$blue_50: #0073dd;

$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;

$svg-bookmark-filled: '<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 5.25v20.61a1.14 1.14 0 0 0 1.795.934L15 21.75l7.205 5.044A1.14 1.14 0 0 0 24 25.86V5.25A2.25 2.25 0 0 0 21.75 3H8.25A2.25 2.25 0 0 0 6 5.25Z" fill="#000"/></svg>';
$svg-bookmark-outline: '<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 5.25A2.25 2.25 0 0 1 8.25 3v20.69l6.098-4.354a1.12 1.12 0 0 1 1.308 0l6.094 4.355V5.25H8.25V3h13.5A2.25 2.25 0 0 1 24 5.25v20.625a1.126 1.126 0 0 1-1.777.914L15 21.633l-7.223 5.156a1.126 1.126 0 0 1-1.168.084A1.12 1.12 0 0 1 6 25.875V5.25Z" fill="#000"/></svg>';
